appdirs==1.4.4
asgiref==3.3.1
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
distlib==0.3.1
Django==3.1.6
django-crispy-forms==1.9.2
django-filter==2.4.0
django-markdown-deux==1.0.5
django-pagedown==2.1.2
djangorestframework==3.12.2
filelock==3.0.12
idna==2.10
markdown2==2.3.10
paramiko==2.7.2
Pillow==8.0.1
psycopg2-binary==2.8.6
pycparser==2.20
PyNaCl==1.4.0
pytz==2021.1
redis==3.5.3
requests==2.25.1
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
termcolor==1.1.0
tornado==6.1
tornado-redis==2.4.18
urllib3==1.26.3
virtualenv==20.0.35
